#contactsection {
	background-color: #152a49;
}
.contacticon{
	display: flex;
	padding: 20px 0px;
  }
  .contacticon a{
	border-radius: 3px;
	text-align: center;
	margin-right: 10px;
	color: white;
	font-size: 18px;
	transition: .5s;
  }
  .contacticon a i {
	line-height: 34px;
	height: 32px;
	width: 40px;
  }
  .contacticon a:hover{
	color: white !important;
  }

.insertion{
	border: none;         
	outline: 0;
}
.btnsetting button{
border-radius: 20px;
font-size: 14px;
margin-top: 25px;
}
.smartHeading {
	line-height: 50px;
	position: relative;
    margin-bottom: 20px!important;
    font-size: 30px;
}

.smartHeading::after {
    content: '';
    width: 75px;
    left: 0;
    right: 0;
    bottom: -3px;
    margin: auto;
    position: absolute;
    display: inline-block;
    border-bottom: 4px solid #1f6dca;
}

.smartoas-card {
	margin: 8% 0;
	text-align: justify;
	padding: 20px;
}

.smartoas-card-icon {
	color: white;
	border: 2px solid #e6e6e6;
	border-radius: 50%;
	font-size: 44px;
	width: 80px;
	height: 80px;
	position: absolute;
    top: -40px;
    left: calc(50% - 40px);
}

.smartoas-card-icon i {
	line-height: 75px;
}

.courier{
	margin-top: 65px;
	line-height: 1.3em;
}
.pier p span{
	font-size: 20px;
}

.work-card {
	margin: 6% 0;
	background-color: #fafafa !important;
	padding: 40px 20px;
}

.work-card:hover {
	background-color: white !important;
}

.processIcon {
	text-align: center;
    border: 2px solid #a8a8a8;
    border-color: rgba(31,109,202,.3);
    height: 120px;
	width: 120px;
	font-size: 60px;
    border-radius: 10px;
	position: relative;
	left: calc(50% - 60px);
    transform: rotate(45deg);
}

.processIcon i {
	line-height: 110px;
	transform: rotate(-45deg);
}

.processStepno {
	position: absolute;
	background-color: white;
	line-height: 25px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	left: -10px;
	top: 98px;
	font-size: 20px;
	border: 2px solid #1f6dca;
	transform: rotate(-45deg);
}

.card:hover{
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
	background-color: #f7f7f7;
	

}

.choose-section {
	padding: 50px 0;
	color: white;
	margin-top: 5%;
	min-height: 250px;
	background-image: url(../img/bg2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.features-icon {
	position: absolute;
	left: 20px;
	top: 30px;
	font-size: 24px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #152a49;
	background-color: #d3e5ff;
}

.features-icon i {
	line-height: 46px;
}

.features-card {
	margin: 6% 0;
	border-radius: 20px !important;
	padding: 30px 15px;
	padding-left: 80px;
}

.features-card:hover {
	background-color: white !important;
}